.formBg {
    background-image: url("/reg form bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
.inputText,
.inputStyle {
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
  border: 1px solid #002A6A;
  width: 72px;
  font-size: 14px;
  text-align: center;
}
.inputRow {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  padding-bottom: 15%;
  padding-top: 20px;
}
  